<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <newpayment>
                <active>1</active>
                <model>Storese\Offphonepe\Model\Newpayment</model>
                <order_status>pending_payment</order_status>
                <title>Newpayment</title>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <group>offline</group>
            </newpayment>
        </payment>
    </default>
</config>